.Labels{
    width: 100%;
    height: 40px;

    background-color: #f7f7f9;

}

.Labels p{
    display: inline-block;
    vertical-align: top;
    border-width: thin;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    height: 100%;
    text-align: center;
    padding-top: 7px;
}


.nazwa_firmy{

    margin-left: 9%;
    width: 13%;
}

.specjalizacje{

    width: 20%;
}

.opis{
    width: 25%;
}
.ocena{
    width: 23%;
}

.km{
    width: 8%;
    border-right: none;
}

